
GRAPHRAG_API_KEY=__FILL_YOUR_DEEPSEEK_API_KEY__

GRAPHRAG_API_KEY_EMBEDDING=__FILL_YOUR_SILICONFLOW_API_KEY__


GRAPHRAG_LLM_MODEL=deepseek-chat

GRAPHRAG_EMBEDDING_MODEL=BAAI/bge-m3

API_BASE=https://api.deepseek.com/v1

API_BASE_EMBEDDING=https://api.siliconflow.cn/v1

PORT=8012
